<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440588486666-gmt17lo2kh6dfb29cqt0oju4fiot3bgt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440588486666-gmt17lo2kh6dfb29cqt0oju4fiot3bgt</string>
	<key>API_KEY</key>
	<string>AIzaSyAppXwe1tvutDXNX9NVvLkqU7tHDUKqZe0</string>
	<key>GCM_SENDER_ID</key>
	<string>440588486666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplicationFirebase</string>
	<key>PROJECT_ID</key>
	<string>flutterfire-79ec7</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfire-79ec7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440588486666:ios:b2e99be343b3e2f0f8f7f3</string>
</dict>
</plist>